body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#initialInput,
#fotoSection,
#reconhecimentoSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#videoCanvas {
    border: 2px solid #ccc;
    margin: 20px 0;
}

#buttons button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}

#feedback {
    font-size: 18px;
    margin-top: 10px;
}

#nextStudentBtn,
#startRecognitionBtn {
    display: none;
    margin-top: 10px;
}

#reconhecimentoMsg {
    font-size: 20px;
    color: #2196F3;
    /* Blue */
    margin-top: 20px;
}

#errorMessage {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}